*{
    font-family: 'Open Sans','Noto Sans JP',  sans-serif;
    letter-spacing: 2px;
    
}

body{
    margin: 0;
    max-width: 1024px;
}

.title-wrapper{
    margin: 0 auto;
    width: 100vw;
    height: 90px;
}

.title-content{
    width: 100%;
    height: 90px;
    margin-bottom: 5%;
}

.title-content h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    color: rgb(50, 50, 50);
}

.logo-wrapper{
    width: 100vw;
}

.logo-content{
    align-content: center;
    margin: 0 auto;
    width: 165px;
}

.logo-content img{
    margin: 18% 0 18% 8%;
    /*filter: brightness(0.8) invert(0.7);*/
}

.headline-wrapper{
    margin: 0 auto;
    width: 100vw;
}

.headline-container{
    width: 100%;
    margin-bottom: 3%;
}

.headline-container p{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 40px;
    color: rgb(50, 50, 50);
    text-align: center;
    font-weight: bold;
}

.detail-wrapper{
    margin: 0 auto;
    width: 100vw;
}

.detail-container{
    width: 100%;
}

.detail-container p{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 18px;
    color: rgb(50, 50, 50);
    text-align: center;
}

.detail-container .head{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 30px;
    color: rgb(50, 50, 50);
    text-align: center;
    font-weight: bold;
    margin: 10% 0 10% 0;
}

.img-text{
    height: auto;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: solid 2px #adadad;
}   

.detail-container .align-left{
    text-align: left;
    line-height: 30px;
}

.accent{
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-size: 28px;
    padding: 0 5px 0 5px;
}

.detail-container .img-text img{
    width: 350px;
    height: auto;
}

.demo-wrapper{
    margin: 5% 0 5% 0;
    width: 100vw;
}

.demo-title{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 30px;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
}

.demo-video{
    margin: 0 auto;
    width: 320px;
    height: 180px;
    background-color: grey;
}

.features-wrapper{
    margin: 5% 0 5% 0;
    width: 100vw;
}

.features-wrapper p{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 30px;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
}

.features-content{
    margin: 0 auto;
    width: 70vw;
}

.features-content p{
    text-align: left;
}

.features-content .small-head{
    font-size: 23px;
}

.features-content .features-text{
    font-size: 18px;
    color: black;
}

.specification-wrapper{
    margin: 5% 0 5% 0;
    width: 100vw;
}

.specification-wrapper p{
    font-family: 'Noto Sans JP',  sans-serif;
    font-size: 30px;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
}

.inline{
    display: inline-block;
}

@media screen and (max-width: 1400px) {

    .img-text{
        justify-content: center;
    }

    .detail-container .img-text img{
        margin: 5% auto;
    }

    .detail-container .align-left{
        margin: 5% 17px 5% 17px;
        width: 90%;
        text-align: center;
        line-height: 30px;
    }



}

@media screen and (max-width: 480px) {

    body{
        
    }

    .headline-container p{
        margin: 0 auto;
        width: 85vw;
        font-size: 28px;
    }

    .detail-container .head{
        margin: 0 auto;
        width: 90vw;
        font-size: 20px;
    }

    .img-text{
        width: 80vw;
        justify-content: center;
    }

    .detail-container .img-text img{
        width: 80vw;
        height: auto;
        margin: 0 auto;
    }

    .detail-container .align-left{
        margin: 5% 17px 5% 17px;
        width: 90%;
        text-align: left;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0;
    }

    .features-wrapper{
        margin-top: 5%;
    }

    .detail-container .head{
        margin-top: 5%;
    }
}